.button {
  background-color: transparent;
  border: 0;
  font-family: 'Bree Serif';
  color: #7b8794;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  width: 65px;
}
.highlight-btn {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}
